* {
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(250, 77, 77);    
    width: 100%;
    min-height: 10vh;
    position:sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-image: linear-gradient(rgb(250, 77, 77),white); */
    /* border: 20px solid red; */
}

header h1 {
    /* border: 2px solid black; */
    font-size: 45px;
    margin-left: 50px;
}

body {
    background-image: linear-gradient(rgb(223, 221, 221), white);
    background-repeat: no-repeat;
}


.loginpageheader {
    font-size: 35px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loginpageheader h1 {
    font-weight: 200;
}

.loginpageheader h2 {
    padding-bottom: 5px;
    font-weight:100;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

header a:active {
    color: black;

}

header a:hover {
    text-decoration: underline;
}

header .headerposition {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

header .headerposition ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header .headerposition li {
    margin-left: 15px;
    font-size: 25px;
    /* Add a text underline delay, not willing to work on that right now */
}

.headerposition li:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.hometext, .homeicons{
    margin-top: 10%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homeicons {
    margin-top: 1%;
}

.hometext p {
    flex-basis: 1;
    font-size: 20px;
    width: 350px;
    text-align: center;
    font-size: 25px;
}

.homeactionbuttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    /* border: 2px solid rebeccapurple; */
    width: 100%;
}

.homeactionbuttons input {
    text-align: center;
    font-size: 30px;
}

.homeicons .accountbutton {
    color: white;
    background-color:rgb(250, 77, 77);
    border-radius: 50px;
    font-size: 20px;
    padding: 25px;
    cursor:pointer;
    box-shadow: solid black 1px 1px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.positionmovies {
    margin-top: 7%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /* border: 2px solid black; */
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}

.positionmovies p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.positionmovies form {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 150px; */
    /* width: 250px; */
}

.positionmovies .searchfunction.text {
    height: 25px;
    width: 300px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;

}

.positionmovies input {
    text-align: center;
    height: 25px;
    border: 1px solid black;
    width: 300px;
    border-radius: 50px;
}

.positionimage {
    margin-top: 50px;
    min-height: 40vh;
    /* border: 5px solid black; */
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://cdn.unifiedcommerce.com/content/product/large/0021081350211.jpg");
    border-radius: 50px;
    background-position: absolute;
    background-size: contain;
}


body {
    margin-left: auto;
    margin-right: auto;
}

.loginpagebody {
    text-align: center;
    max-width: 75%;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

.formbuttons {
    /* margin-top: 5%;   This just got adjusted, if necessary change back */
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    min-height: 10vh;
}

.formbuttons .loginbuttons {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    font-size: 50px;
}

.loginpage-buttons .accountbutton {
    color: white;
    background-color:rgb(250, 77, 77);
    border-radius: 50px;
    font-size: 25px;
    padding: 25px;
    cursor:pointer;
    box-shadow: solid black 1px 1px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loginpage-buttons .accountbutton.big {
    width: 350px;
    font-size: 30px;
    /* margin-bottom: -100px; */
    /* border: 5px solid black; */
}

.loginpage-buttons .accountbutton.small {
    /* border: 5px solid black; */
    margin-top:-200px;
}

.reviewersTitle {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    /* border: 2px solid black; */
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.popularreviewers {
    margin-right: auto;
    margin-left: auto;
    width: 33%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    justify-content: space-around;
    padding: 50px;
    flex-wrap:wrap;
    margin-top: 25px;
}

.popularreviewers .reviewer {
    margin-top: 25px;
    min-width: 25vh;
    min-height: 25vh;
    background-image: linear-gradient(white, rgb(223, 221, 221));
    /* background-color: red; */
    /* border: 2px solid black; */
    border-radius: 50px;
    max-width: 25vh;
    max-height: 25vh;
    box-shadow: 4px 4px black;
}

.popularreviewers .reviewer:nth-child(4) {
    margin-bottom: 20%;
    /* border: 20px solid black; */
}

.popularreviewers .reviewer h2 {
    margin-top: 33%;
}

.popularreviewers .reviewer h2,p {
    text-align: center;
}

.signupheader {
    margin-top: 5%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupheader h1 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 1.5vh;
    /* text-decoration: underline; */
    /* text-underline-offset: 5px; */
}

.signupheader p {
    width: 850px;
}

.signupform {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 2px solid black;
    padding: 25px;
    width: 75%;
    box-sizing: border-box;
    width: fit-content;
}

.signupform input {
    height: 50px;
    min-width: 75vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.signupform label {
    font-size: 20px;
    font-weight: bold;
}

.signupform input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1%;
  }
  
.signupform input[type=submit]:hover {
    background-color: #45a049;
  }


footer {
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(250, 77, 77);
    width: 100%;
    min-height: 10vh;
    position:sticky;
    position: fixed;
    bottom: 0;
    /* background-image: linear-gradient(white,rgb(250, 77, 77)); */

}