<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/main.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <header>
        <div class = "headerposition">
        <h1>MovieBuzz</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href = "/movies">Movies</a></li>
            <li><a href = "/reviewers">Reviewers</a></li>
            <li><a href = "/login">Profile</a></li> 
            <!-- Make sure to change this link. Create the page -->
        </ul>
        </div>

    </header>

    {% block body %} {% endblock %}
</body>
</html>