{% extends 'base.html' %}

{% block head %}
<title>Final Project</title>
{% endblock %}


{% block body %} 
<!-- <header>
    <div class = "headerposition">
    <h1>MovieBuzz</h1>
    <ul>
        <li>Home</li>
        <li>Movies</li>
        <li>Reviewers</li>
        <li>Profile</li>
    </ul>
    </div>
</header> -->

<body>

    <div class = "hometext">
        <p>Find other users with your taste</p>
        <p>Search for a movie to add a review</p>
        <p>Find professional critiques from Rotten Tomatos</p>
    </div>

    <div class = "homeicons"> 
        <form action="" class="homeactionbuttons">
            <input type="submit" value = "User Buzz Search" class = "accountbutton">
            <input type="submit" value = "Movie Search" class = "accountbutton">
            <input type="submit" value = "Critic Buzz Search" class = "accountbutton">
        </form>
        
    </div>


</body>

<footer>

</footer>
{% endblock %}