{% extends 'base.html' %}

{% block head %}
<title>Final Project</title>

{% endblock %}


{% block body %} 
<header>
    <h1>MovieBuzz</h1>
</header>

<body>

    <div class = "loginpageheader">
        <h2>Welcome to</h2>
        <h1>MovieBuzz</h1>
    </div>

    <div class= "loginpagebody">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorum vitae cumque 
            similique asperiores, perspiciatis corporis aspernatur! Commodi dignissimos tenetur dolorem 
            quam aperiam inventore quia amet, magni eum, ut eos praesentium nam sed placeat iusto maxime fugit mollitia. Adipisci?</p>
        
    </div>
    <div class = "loginpage-buttons">
        <form action = "" class = "formbuttons">
            <input type = "submit" value="Create Account" class = "loginbuttons accountbutton big">
            <input type = "submit" value="Sign Up" class = "loginbuttons accountbutton small">
        </form>
    </div>

</body>

<footer>

</footer>
{% endblock %}