{% extends 'base.html' %}

{% block head %}
<title>Final Project</title>
{% endblock %}


{% block body %} 
<!-- <header>
    <div class = "headerposition">
    <h1>MovieBuzz</h1>
    <ul>
        <li>Home</li>
        <li>Movies</li>
        <li>Reviewers</li>
        <li>Profile</li>
    </ul>
    </div>
</header> -->

<body>
    <p class = "reviewersTitle">Our Top Reviewers</p>

    <div class = "popularreviewers">
        <div class = "reviewer" id = "firstreviewer">
            <h2>Eddy</h2>
            <p>Eddy is a horror movie fanatic and critic who enjoys a good scare when scouting for a great title!</p>
        </div>
        <div class = "reviewer" id = "firstreviewer">
            <h2>Lisa</h2>
            <p>Lisa loves her a good comedy movie to settle down with a long day a work!</p>
        </div>
        <div class = "reviewer" id = "firstreviewer">
            <h2>Gerald</h2>
            <p>Gerald enjoys browsing through every Wild West movie out there and knows a good title!</p>
        </div>
        <div class = "reviewer" id = "firstreviewer">
            <h2>Anna</h2>
            <p>Anna is an avid drama binge-watcher and loves the suspense and uncertainty a movie presents!</p>
        </div>
    </div>
</body>

<footer>

</footer>
{% endblock %}