{% extends 'base.html' %}

{% block head %}
<title>Final Project</title>
{% endblock %}


{% block body %} 
<header>
    <div class = "headerposition">
    <h1>MovieBuzz</h1>
    <ul>
        <li>Home</li>
        <li>Movies</li>
        <li>Reviewers</li>
        <li>Profile</li>
    </ul>
    </div>
</header>

<body>
    <p class = "reviewersTitle">Our Top Reviewers</p>

    <div class = "popularreviewers">
        <div class = "reviewer" id = "firstreviewer">
            <h2>First User</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit sequi ratione.</p>
        </div>
        <div class = "reviewer" id = "firstreviewer">
            
        </div>
        <div class = "reviewer" id = "firstreviewer">
            
        </div>
        <div class = "reviewer" id = "firstreviewer">
            
        </div>
    </div>
</body>

<footer>

</footer>
{% endblock %}