{% extends 'base.html' %}

{% block head %}
<title>Final Project</title>
<style>
    .incorrectpassword {
        color: red;
        margin-top: 10px;
        font-size: 25px;
    }
</style>
{% endblock %}


{% block body %} 

<body>

    <div class = "signupheader">
        <h1>Sign In!</h1>
        <p>Sign in to MovieBuzz to begin browsing hundreds of titles and continue creating reviews!</p>
    </div>

    <form class = "signupform" method="post" action = "/loginuser">
        <label for = "users-email">Email:</label><br>
        <input type ="email" id = "users-email" name = "users-email" placeholder="Enter your email"><br>
        <label for = "users-password">Password:</label><br>
        <input type = "password" id = "users-password" name = "users-password" placeholder = "Enter your password"><br>
        <input type = "submit" value = "Sign up!" class = "submitbutton">
    </form>
    
    {% if content != '' %}

    <p class = "incorrectpassword">{{content}}</p>

    {% endif %}

</body>

<footer>

</footer>
{% endblock %}